<footer class="footer">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-4 col-xs-12">Developed by atiqorin <span class="small"></span></div>
            <div class="col-md-4 col-xs-12 text-center">atiqorin@gmail.com</div>
            <div class="col-md-4 col-xs-12 text-right small align-self-end"><a href="https://github.com/atiqorin/Angular-2-WeatherApp" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i> View on GitHub</a></div>
        </div>
    </div>
</footer>